$black-color: #222222;
$grey-color: #5a5757;
$light-dark-grey-color: #ccc; 
$light-grey-color: #e7e7e7;
$green-color: #51c874;
$red-color: #e9504e;
$white-color: #fff;
$blue-color: rgb(0, 188, 212);